<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <config>
    <add key="http_proxy" value="http://proxy.stc:3128" />
    <add key="no_proxy" value="*.stc,192.168.*,172.16.*,nexus-trawl.ad.speechpro.com,build-or.stc" />
  </config>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <!-- proxy settings https://confluence.speechpro.com/pages/viewpage.action?pageId=42570200 -->
  <packageSources>
    <clear />
    <add key="Nexus" value="http://nexus-trawl.ad.speechpro.com:8081/repository/nuget-hosted/" />
    <add key="NexusTrawl" value="http://nexus-trawl.ad.speechpro.com:8081/repository/nuget-trawl/" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="build-or" value="http://build-or.stc/guestAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>

</configuration>